<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="over">
    <mat-list dense>
      <mat-list-item>
          <button mat-button>Календарь событий</button>
      </mat-list-item>
      <mat-list-item>
          <button mat-button>Список клиентов</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      {{title}}
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>